# DEV
alias phpunit='vendor/bin/phpunit'
alias phpspec='vendor/bin/phpspec'
alias vaprobash='curl -L http://bit.ly/vaprobash > Vagrantfile'
alias gs='git status'
alias gc='git commit'
alias gpush='git push'
alias gpull='git pull'
alias cdm="cd ~/Code/Metricso"
# Vagrant
alias vup="vagrant up"
alias vssh="vagrant ssh"
alias vreload="vagrant reload"

# Docker
alias d="dinghy --help"
alias dup="dinghy up"
alias dc="docker-compose"
alias dssh="docker_ssh"
alias dip="docker inspect --format='{{.NetworkSettings.IPAddress}}'"
alias dsync="dinghy_sync"

# OS
#
alias reloadconf=". ~/.zshrc"
alias l="ls -la"       # List in long format, include dotfiles
alias ld="ls -ld */"   # List in long format, only directories
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
# Recursively remove .DS_Store files
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"

# HELPERS
alias tmuxcheatsheet="~/.dotfiles/tmux/cheatsheet.markdown"
